.input{
    width: 450px;
    height: 600px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
}
.inputLogo{
    width: 250px;
}


.radioWrapper{
    display: flex;
    width: 70%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.radioButton{
    width: 30%;
    height: auto;
}
.radioButton:hover label{
    fill: blue;
}
.radioButtonInput{
    display: none;
}
.platformLogo{
    color: black;
    width: 100%;
    height: auto;
    transition: fill 0.5s;
}
.radioButtonInput:checked + label{
    fill: white;
    transition: fill 0.2s;
}