.homeContainer{
    font-family: 'Duke';
    color: white;
    /* display: flex; */
    display: block;
    /* flex-wrap: wrap; */
    background-color: rgb(22, 22, 22);
    padding: 20px;
    /* justify-content: space-between; */
}
.newsBlock{
    font-family: 'Duke';
    font-size: 20px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    width: 32%;
    height: auto;
    color: white;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}
.newsBlockWrapper{
    height: 80%;
    box-sizing: border-box;
    position: relative;
}
.newsBlockImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -2;
}
.newsBlockTitle{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 20%;
    background-color: rgb(0, 0, 0);    
    padding: 10px;
}
.newsBlockContent{
    box-sizing: border-box;
    padding: 0 10px;
    overflow: hidden;    
    background-color: rgba(0, 0, 0, 0.712);
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 0;   
}
.newsBlock:hover .newsBlockContent{
    height: 100%;    
    transition: height 1s;
    z-index: 1;
}
.newsBlock:hover .newsBlockTitle{
    color: rgb(218, 41, 42);
    transition: color 0.5s;
}
.newsBlockLink{
    color: rgb(218, 41, 42);
}
.newsBlockLink:hover{
    text-decoration: underline;
    color: white;
    transition: color 0.5s;
}
.newsFeed{
    /* font-family: 'Duke'; */
    font-size: 30px;
    letter-spacing: 1px;
    color: white
}

.videoContainer{    
    position: relative;
}

.player{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.craftAndPredatorsWrapper{
    display: flex;
    width: 100%;
}