.container{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bla{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}