.craftWrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;  
    box-sizing: border-box; 
}
.craftElement{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.cardsWrapper{
    display: flex;
    gap: 5px
}
.itemCard{
    width: 70px;
    height: auto;
}
.itemCardImg{
    width: 100%;
    height: auto;
}