.userProfileWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    
    .navBar{
        width: 20%;
        height: 100%;
        background-color: white;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 40px;
        .logoutButton{
            font-size: 40px;
        }
    }
    .profileContentWrapper{
        width: 80%;
        height: 100%;
        color: white;
    }
}